@charset "UTF-8";
html, body {
  height: 100%;
  overflow: hidden;
}

.box1 {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.main {
  height: 500px;
  background: rgba(235, 228, 228, 0.6);
  margin: 70px;
  position: relative;
  border-radius: 20px 0px 0px 100px;
  box-shadow: 0px 0px 6px 1px #DDD04D;
}

.main .nav_con {
  height: 90px;
  display: flex;
  position: relative;
}

.main .nav_con .type {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  background: chocolate;
  color: #B55E11;
  margin: 15px 8px;
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  cursor: pointer;
}

.main .nav_con .type .sm_bar {
  position: absolute;
  right: -20px;
  top: 24px;
  display: block;
  border-bottom: 3px solid chocolate;
  width: 20px;
}

.main .nav_con .type:nth-of-type(1) {
  background: #DFD051;
  animation: typebtn 5s infinite;
}

.main .nav_con .type:nth-of-type(2) {
  background: #D9A748;
  animation: typebtn 5s 1s infinite;
}

.main .nav_con .type:nth-of-type(3) {
  background: #E6E299;
  animation: typebtn 5s 2s infinite;
}

.main .nav_con .type:nth-of-type(4) {
  background: #B2C9AC;
  animation: typebtn 5s 3s infinite;
}

.main .nav_con .type:nth-of-type(5) {
  background: #232B6A;
  animation: typebtn 5s 4s infinite;
}

.main .nav_con .type:hover {
  background: #B55E11;
  color: #DDD04D;
}

.main .nav_con .active {
  background: #B55E11 !important;
  color: #DDD04D;
  transform: scale(1.2);
}

.main .wirte_new {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.main .wirte_new input {
  border: none;
  height: 25px;
  width: 80px;
  margin: 8px 0px;
  padding: 0px 10px;
  border-radius: 10px;
  background: rgba(243, 238, 238, 0.6);
}

.main .wirte_new input:hover {
  box-shadow: 0px 0px 5px 0px blue;
}

.main .wirte_new .record_new {
  display: inline-block;
  width: 50px;
  height: 25px;
  line-height: 26px;
  background: rgba(227, 230, 97, 0.5);
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  color: #B55E11;
  cursor: pointer;
}

.main .wirte_new .record_new:hover {
  box-shadow: 0px 0px 6px 0px #eba819;
}

.main .tip {
  position: absolute;
  left: 400px;
  top: 80px;
  width: 120px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  text-align: center;
  background: rgba(78, 102, 178, 0.2);
  border-radius: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-shadow: 0px 0px 4px 1px #fff;
  display: none;
}

.main .diary {
  position: relative;
  height: 70%;
  overflow-y: auto;
  padding: 18px 0px;
}

.main .diary .new {
  border-radius: 10px;
  position: relative;
  width: 550px;
  margin: 0 auto;
}

.main .diary .new .type_new {
  margin-bottom: 20px;
  font-size: 16px;
  color: #232B6A;
}

.main .diary .new .type_new input {
  margin: 0px 10px;
  border: none;
  cursor: pointer;
}

.main .diary .new .type_new label {
  cursor: pointer;
}

.main .diary .new .msg {
  animation: diarycon 3s infinite alternate;
  width: 100%;
  height: 240px;
  font-size: 16px;
  border-radius: 20px;
  resize: none;
  padding: 20px;
  background: rgba(235, 228, 228, 0.6);
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.main .diary .new .btn {
  box-shadow: 0px 0px 3px 1px #f3b407;
  background: #DFD051;
  border: none;
  border-radius: 50%;
  padding: 15px 10px;
  margin-top: 10px;
  color: #B55E11;
  font-weight: bold;
  position: absolute;
  right: -20px;
  bottom: -10px;
  cursor: pointer;
  outline: none;
}

.main .diary .new .btn:hover {
  background: #e27611;
  color: #f3e307;
}

.main .diary .item-diary {
  width: 550px;
  overflow: none;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px auto;
  display: none;
}

.main .diary .item-diary .box {
  animation: diarycon 3s infinite alternate;
  min-height: 130px;
  background: rgba(235, 228, 228, 0.6);
  border-radius: 10px;
  position: relative;
}

.main .diary .item-diary .box .bar {
  position: absolute;
  top: -28px;
  left: -43px;
  height: 75%;
  width: 0px;
  border-right: 1.5px solid rgba(60, 68, 118, 0.5);
}

.main .diary .item-diary .box .bar .star {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e27611;
  position: absolute;
  left: -4px;
}

.main .diary .item-diary .box .bar .end {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #d9ce68;
  position: absolute;
  left: -4px;
  bottom: 0px;
}

.main .diary .item-diary .box .arrow {
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 18px solid rgba(235, 228, 228, 0.6);
  border-bottom: 10px solid transparent;
  position: absolute;
  left: -18px;
  top: 8px;
}

.main .diary .item-diary .box .nickname {
  padding-left: 10px;
  line-height: 38px;
  height: 35px;
  font-size: 18px;
  border-bottom: 1px solid rgba(60, 68, 118, 0.5);
  color: #B55E11;
  font-family: "Times New Roman", Times, serif;
}

.main .diary .item-diary .box img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  left: -63px;
  top: -2px;
}

.main .diary .item-diary .box .con {
  padding: 15px 25px 30px 25px;
  font-size: 15px;
  text-indent: 20px;
  line-height: 20px;
  letter-spacing: 3px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #000;
}

.main .diary .item-diary .box .date {
  position: absolute;
  right: 25px;
  bottom: 5px;
  font-size: 12px;
  line-height: 20px;
  color: rgba(60, 68, 118, 0.6);
}

.main .diary::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px;
  /*高宽分别对应横竖滚动条的尺寸*/
}

.main .diary::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  background: rgba(69, 78, 138, 0.5);
}

.main .diary::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 10px;
  background: rgba(235, 228, 228, 0.6);
}

@keyframes typebtn {
  0% {
    box-shadow: 0px 0px 6px 1px #d8d8c6;
  }
  25% {
    box-shadow: 0px 0px 10px 1px #dddcae;
  }
  50% {
    box-shadow: 0px 0px 12px 1px #d6d328;
  }
  75% {
    box-shadow: 0px 0px 10px 1px #d6d32d;
  }
  100% {
    box-shadow: 0px 0px 6px 1px #dddcae;
  }
}

@keyframes diarycon {
  0% {
    box-shadow: 0px 0px 6px 1px #d8d8c6;
  }
  25% {
    box-shadow: 0px 0px 10px 1px #dddcae;
  }
  50% {
    box-shadow: 0px 0px 12px 1px #d6d328;
  }
  75% {
    box-shadow: 0px 0px 10px 1px #d6d32d;
  }
  100% {
    box-shadow: 0px 0px 6px 1px #dddcae;
  }
}
