html, body {
  height: 100%;
  overflow: hidden;
}

.box {
  width: 100%;
  position: absolute;
}

.box1 {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

main .main {
  margin-top: 70px;
  position: relative;
}

main .main .tip {
  position: absolute;
  left: 480px;
  top: 280px;
  width: 120px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  text-align: center;
  background: rgba(51, 73, 146, 0.7);
  border-radius: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-shadow: 0px 0px 4px 1px #fff;
  display: none;
  color: #000;
}

main .main .comment {
  background: rgba(223, 191, 191, 0.5);
  width: 100%;
  padding-bottom: 50px;
  border-radius: 10px;
}

main .main .comment .frame {
  position: relative;
  margin: 40px auto;
  margin-bottom: 40px;
  padding: 20px 20px;
  width: 620px;
  height: 320px;
}

main .main .comment .frame .arc {
  color: white;
  position: absolute;
  top: 20px;
  left: 35px;
  z-index: 1;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  background: #db9a0f;
  box-shadow: 0px 0px 5px 1px #ebe15f inset;
}

main .main .comment .frame .box {
  position: relative;
  top: 45px;
  height: 180px;
  border-radius: 20px;
  background: rgba(235, 228, 228, 0.6);
}

main .main .comment .frame .box textarea {
  width: 100%;
  height: 180px;
  font-size: 16px;
  border-radius: 20px;
  resize: none;
  padding: 20px;
  background: rgba(235, 228, 228, 0.6);
}

main .main .comment .frame .biaoqing {
  position: relative;
  top: 40px;
  margin-top: 15px;
}

main .main .comment .frame .biaoqing a {
  margin: 0px 10px;
  cursor: pointer;
}

main .main .comment .frame .biaoqing a i {
  font-size: 30px;
  color: #104D91;
}

main .main .comment .frame .biaoqing .btn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  font-size: 14px;
  padding: 6px 14px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
}

main .main .comment .frame .biaoqing .btn:hover {
  background: rgba(238, 179, 18, 0.5);
  color: #232B6A;
}

main .main .comment .show {
  position: relative;
  border-top: 1px solid #B2C9AC;
  width: 620px;
  margin: 10px auto;
  padding: 20px 20px;
}

main .main .comment .show .tit_show {
  color: white;
  position: absolute;
  top: -40px;
  right: 35px;
  z-index: 1;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  background: orange;
  box-shadow: 0px 0px 5px 1px #f7d336 inset;
}

main .main .comment .show .li_show {
  animation: diarycon 6s infinite alternate;
  transition: transform 0.6s;
  position: relative;
  margin-top: 20px;
  min-height: 130px;
  border-radius: 20px;
  padding: 10px;
  background: rgba(235, 228, 228, 0.6);
  box-shadow: 0px 0px 5px 1px #817d7d inset;
}

main .main .comment .show .li_show .head_show {
  height: 40px;
  line-height: 40px;
}

main .main .comment .show .li_show .head_show img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 6px;
  position: relative;
}

main .main .comment .show .li_show .head_show span:nth-of-type(2) {
  position: absolute;
  right: 45px;
  color: #7C7575;
}

main .main .comment .show .li_show .con {
  padding: 10px;
  text-indent: 2em;
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

main .main .comment .show .li_show .foot_show {
  position: absolute;
  bottom: 10px;
  right: 45px;
  font-size: 16px;
  color: #7C7575;
}

main .main .comment .show .li_show .foot_show i {
  cursor: pointer;
}

main .main .comment .show .li_show .foot_show i:nth-of-type(2) {
  margin: 0px 10px;
  font-size: 19px;
  line-height: 20px;
  cursor: pointer;
}

main .main .comment .show .li_show .foot_show span {
  cursor: pointer;
}

main .main .comment .show .li_show .reply {
  background: rgba(235, 228, 228, 0.6);
  width: 90%;
  position: relative;
  left: 30px;
  top: 10px;
  box-shadow: 0px 0px 5px 1px #817d7d inset;
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 10px 0px;
  display: none;
}

main .main .comment .show .li_show .reply .item_reply {
  min-height: 35px;
  background: rgba(182, 177, 177, 0.5);
  margin: 20px;
  border-radius: 20px;
}

main .main .comment .show .li_show .reply .item_reply p {
  margin: 0px 15px;
  line-height: 35px;
}

main .main .comment .show .li_show .reply .item_reply p .friend_name {
  color: #3C529F;
  margin-right: 2px;
}

main .main .comment .show .li_show .reply .re_btn {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  background: rgba(235, 156, 52, 0.7);
  border: none;
  margin: 10px;
  margin-left: 380px;
  color: #474242;
  cursor: pointer;
}

main .main .comment .show .li_show .reply .re_btn:hover {
  background: rgba(238, 217, 101, 0.7);
}

main .main .comment .show .li_show:hover {
  transform: scale(1.03);
}

footer {
  margin-top: 70px;
}

.writ_reply {
  display: none;
  position: fixed;
  z-index: 4;
  top: 220px;
  left: 460px;
  width: 500px;
  height: 260px;
  padding: 20px;
  background-color: #5979a0;
  border-radius: 20px;
  transition: box-shadow 0.6s,background-color 0.6s;
}

.writ_reply:hover {
  background-color: rgba(71, 98, 133, 0.7);
  box-shadow: 0px 0px 6px 2px royalblue,0px 0px 6px 2px #396E97 inset;
}

.writ_reply .close {
  display: block;
  width: 40px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  outline: none;
  background: rgba(235, 156, 52, 0.7);
  margin-bottom: 10px;
  cursor: pointer;
}

.writ_reply .close:hover {
  background: rgba(238, 217, 101, 0.7);
}

.writ_reply .ms {
  height: 120px;
  width: 100%;
  font-size: 16px;
  border-radius: 20px;
  resize: none;
  padding: 20px;
  background: rgba(235, 228, 228, 0.6);
}

.writ_reply .release_reply_btn {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  background: rgba(235, 156, 52, 0.7);
  border: none;
  margin-top: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #474242;
  cursor: pointer;
}

.writ_reply .release_reply_btn:hover {
  background: rgba(238, 217, 101, 0.7);
}

.shadow {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.up_num {
  margin-right: 8px;
}

.clicki {
  color: #db9a0f;
}

.set_page {
  display: inline-block;
  margin-left: 260px;
}

.set_page a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: rgba(235, 228, 228, 0.6);
  color: rgba(0, 0, 0, 0.5);
}

.set_page a:hover {
  background: #6387D0;
}

.set_page .prev {
  width: 30px;
}

.set_page .next {
  width: 30px;
}

.set_page .active {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #6387D0;
  border: #6387D0;
}

@keyframes diarycon {
  0% {
    box-shadow: 0px 0px 6px 1px #d8d8c6;
  }
  25% {
    box-shadow: 0px 0px 8px 1px #dddcae;
  }
  50% {
    box-shadow: 0px 0px 10px 1px #d6d328;
  }
  75% {
    box-shadow: 0px 0px 8px 1px #d6d32d;
  }
  100% {
    box-shadow: 0px 0px 6px 1px #dddcae;
  }
}
